app/storage
.*
!.gitignore
!.jshintrc
!.bowerrc
!.jsbeautifyrc
!.prettifyrc
!.editorconfig
!.travis.yml
!.gitattributes
!.htaccess
!.watsonrc
!.provisioning
composer.phar
*~
*.zip
dist
*testing*
.DS_Store
.AppleDouble
.LSOverride
Icon
*.sublime-workspace
build/

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
src/bower_components
vendor
html

public_html/assets
