---
layout: index.hbs
---

<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
    <li><a href="/mockup">Mockups</a></li>
    <li><a href="/phpdocs">PHP Docs</a></li>
    <li>Working LiveReload?</li>
  </ul>

</div>

